.container{
    position:relative;
    background: linear-gradient(to right,rgb(221, 145, 3),rgb(231, 185, 79));
    height: 100vh;
    border-radius: 8px;
}

.black{
    background-color: rgb(1, 1, 1);
    height: 90vh;
    width: 95%;
    position:absolute;
    top: 3%;
    left: 2%;
    border-radius: 3px;
    box-shadow: 7px 7px 15px rgb(98, 77, 28);
}
.logo{
    width:70px;
    height:70px;
    margin-top:20px;
    margin-left:40px;
    position:absolute;
}
.nav{
    list-style-type:none ;
    margin-top: 30px;
    margin-left: 250px;
    position:absolute;
    display:inline;
    font-family: "Exo 2", sans-serif;
}
.nav li{
    display:inline;
    margin-right: 20px;
    font-size: 20px;
}
.nav li a{
    text-decoration: none;
    color:white;
}
.nav li a:hover{
    text-decoration: underline;
    color:rgb(231, 185, 79);
}
.heading{
    color:white;
    text-align:center;
    font-size: 100px;
    /*margin-top:100px;*/
   font-family:'Roboto', sans-serif;
   position:absolute;
   top:17%;
    left:50%;
    transform:translate(-50%,-50%);
}
.center_pot{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    height:70%;   
    margin-left: 160px;
    margin-right: 10px;
    margin-top:65px;
    width:60%;
}
.less{
    height:60px;
    width:60px;
    margin-left: 180px;
    margin-right: 120px;
}
.inside{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
}
.content{
    margin-top: 350px;
    margin-right:20px;
    margin-left:0px;
    height:50px;
    text-align: right;
    color:white;
    font-family: 'Exo 2', sans-serif;
}
.all{
    display: flex;
    justify-content: center;
}
.para{
    font-size: 20px;
    display:block;
    margin-top: 20px;
    height:10px;
    width: 300px;
}
.our_cd{
    color: rgb(231, 185, 79);
}
hr{
    width:80px;
    margin-right:0px;
}
/*.image-container{
    display:block;
    position:relative;
}
.overlay{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
}*/