.container{
    position:relative;
    background: linear-gradient(to right,rgb(221, 145, 3),rgb(231, 185, 79));
    height: 100vh;
    border-radius: 8px;
}

.black{
    background-color: rgb(1, 1, 1);
    height: 90vh;
    width: 95%;
    position:absolute;
    top: 3%;
    left: 2%;
    border-radius: 3px;
    box-shadow: 7px 7px 15px rgb(98, 77, 28);
}
.logo{
    width:30px;
    height:30px;
    margin-top:20px;
    margin-left:40px;
    position:absolute;
}
.nav{
    list-style-type:none ;
    margin-top: 20px;
    margin-left: 190px;
    position:absolute;
    /*display:inline;*/
}
.lis{
    margin-left: 50px;
    font-size: 15px;
    display:inline;
}
a{
    text-decoration: none;
    color: white;
}